body {
	background-color: black;
	background-image: url("../assets/img/classyDrinks.jpg?raw=true");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: middle;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
	margin-top: 100px;
}

.logo {
	text-align: center;
	font-size: 100px;
	color: white;
	font-family: "Times New Roman", Times, serif;
}

.nav-wrapper {
	background-color: #a30707;
}

.btn {
	background-color: transparent;
}

.page-footer {
	text-align: center;
	background-color: #a30707;
}

.container {
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
}

.whiteText {
	color: white;
}

.listContainer {
	background-color: #a30707be;
	height: 250px;
	overflow: auto;
	margin: 10px;
	border-radius: 25px;
	border: 2px solid black;
	padding: 10px;
	opacity: 0.7;
}

.featureInfo {
	background-color: #a30707be;
	height: 400px;
	border-radius: 25px;
	padding: 20px;
}

.listHeader {
	text-decoration: underline;
	margin-bottom: 10px;
}

.ingredientSubBtn {
	position: absolute;
	right: 0;
	bottom: 0;
}

.beer {
	background-color: black;
	background-image: url("../assets/img/pintglass.jpg?raw=true");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
}

.featureText {
	text-align: left;
	padding: 20px;
	color: white;
}

#featureIngredients {
	text-align: left;
	padding: 20px;
	color: white;
}

.ingredHome {
	margin: 10px;
	border-radius: 25px;
	background: rgba(255,255,255,0.7);
}

.cocktailHome {
	margin: 10px;
	border-radius: 25px;
	background: rgba(255,255,255,0.7);

}

.rouletteHome {
	margin: 10px;
	border-radius: 25px;
	background: rgba(255,255,255,0.7);
}

.pubHome {
	margin: 10px;
	border-radius: 25px;
	background: rgba(255,255,255,0.7);
}

.homeBarText {
	font-size: 20px;
	margin: 50px;

}

.inghomeBtn {
	margin: 10px;
	border-radius: 25px;
	font-weight: bold;
}

.ingredImg {
	border-radius: 25px;
}

.cocktailImg {
	border-radius: 25px;
}

.rouletteImg {
	border-radius: 25px;
}

.pubImg {
	border-radius: 25px;
}